.what_to_input {
    display: flex;
    justify-content: left;
    flex-direction: column;

}
.what_to_input {
    width: 410px; /* Adjust width as needed */
    padding: 20px;
    border-radius: 20px;
    background-color: #f0f0f0; /* Background color of the box */
    opacity: 92%;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 420px; /* Set maximum height for scroll */
    margin: 20px;
}