.navbody{
	background-color: skyblue;
	display: flex;
	flex-direction: column;
	margin-bottom:10px;
}

.options{
	display: flex;
	width :auto;
/*	background-color: green*/
}

.header{
	text-align: center;
}

.text{
	flex-direction: row-reverse;
	display: flex;
	direction: end;
	padding:5px;
}