.navbody{
	background-color: skyblue;
	display: flex;
	flex-direction: column;
}

.options{
	display: flex;
/*	background-color: green*/
}

.header{
	text-align: center;
}

.text{
	flex-direction: ;
	display: flex;
	direction: end;
	padding:5px;
}